html {
  padding: 50px 0;
  font-family: 'Poppins', sans-serif;
  background: #000000;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header {
  width: 25%;
  height: 1060px;
  padding: 60px 30px 30px;
  border-radius: 30px;
  background: #1e1e1f;
}
.avatar img {
  width: 150px;
  height: 147px;
  margin: 0 75px;
  border-radius: 10px;
}

.info h1 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  color: #fafafa;
}
p {
  font-size: 15px;
  color: #ffffff;
}

.info .title{
  padding: 5px 18px;
  text-align: center;
  border-radius: 10px;
  background: #2B2B2C;
}

.item-contacts {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  list-style: none;
}
div.icon-box {
  width: 46px;
  height: 46px;
  border-radius: 10px;
  background: #202022;
}

div.icon-box img {
  width: 18px;
  height: 18px;
  margin: 14px;
}

.item {
  font-size: 15px;
  list-style: none;
  color: #ffffff;
}

.nav {
  border-radius: 10px;
  background: #2B2B2C;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 10px;
  line-height: 40px;
}

.link {
  color: #ffffff;
  text-decoration: none;  
  transition: color 0.5s;
}

.link:hover {
  color: #FFBB5C;
}

.main {
  width: 60%;
  height: 1150px;
  padding: 0 30px;
  border-radius: 30px;
  background: #1e1e1f;
}

.section-title {
  color: #fafafa;
  font-size: 27px;
  font-weight: 600;
}

.code-example img {
  width: 600px;
  height: 300px;
}

.work-experience .year, .education .year {
  color: #FFBB5C;
}

h5.section-title {
  color: #fafafa;
  font-size: 17px;
  font-weight: 600;
}

.footer {
  width: 1200px;
  margin-top: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  background: #1e1e1f;
}

.footer img {
  width: 80px;
  height: 80px;
}

.footer .year {
  font-size: 26px;
}
